@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


@theme {
  --color-yellow:  #D9E74C;
  --color-blue:  #01203F;
  --color-green:  #01814E;
  --font-poppins: "Poppins", sans-serif;

}
body {
  background-color: white;
}

.section1-parent{
    background-image: url('https://eubiq.b-cdn.net/saga/saga-website-background.jpg');
    background-repeat: repeat;
    background-size: 2000px;
    animation: bgMoveUp 20s linear infinite;
}

@keyframes bgMoveUp {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -2000px;
  }
}